<div class="row">
  <div class="col-sm-12 col-md-6">
    <%= form_for [:admin, @railway_station] do |form| %>
       <%= render 'shared/errors', resource: railway_station%>
      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, id: :railway_station_title,  class: "form-control" %>
      </div>

      <div class="actions">
        <%= form.submit t('.submit', action: @railway_station.new_record? ? "создать" : "редактировать"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>