<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<%if @route.trains.any? %>
  <ul>
    <%@route.trains.each do |train|%>
    <li><%= train.number %></li>
    <%end%>
  </ul>
<%else%>
    <p>There are no trains on this route</p>
<%end%>

<% if @route.railway_stations.any? %>
  <table>
    <thead>
      <th>Position</th>
      <th>Name</th>
      <th>Time arrival</th>
      <th>Time departure</th>
    </thead>
    <tbody>
      <% @route.railway_stations.ordered.each do |station|%>
        <tr>
          <td>
            <%= form_tag update_serial_number_admin_railway_station_path(station), method: :patch do%>
              <%= number_field_tag :station_serial_number, station.position_in(@route) %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= submit_tag "Edit" %>   
            <% end %>
          </td>
          <td><%=station.title%></td>
          <td>
            <%=form_tag update_time_arrival_admin_railway_station_path(station), method: :patch do%>
              <%= time_field_tag :time_arrival, station.arrival_at(@route) %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= submit_tag "Edit" %>
            <% end %>
         </td>
          <td>  
            <%=form_tag update_time_departure_admin_railway_station_path(station), method: :patch do%>
              <%= time_field_tag :time_departure, station.departure_at(@route) %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= submit_tag "Edit" %>
            <% end %>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
<% else %>
  <p>There are no stations on this route</p>
<%end%>

<%= link_to 'Edit', edit_admin_route_path(@route) %> |
<%= link_to 'Back', admin_routes_path %>