<tr>
  <%econom_seats = train.seats(train.econom_cars)%>
  <%business_seats = train.seats(train.business_cars)%>
  
  <td><%= train.number %></td>
  <td> <%= "Econom cars: #{train.econom_cars.count}, top seats: #{econom_seats[:top_seats]}  ,bottom seats: #{econom_seats[:bottom_seats]}" %> </td>  
  <td> <%= "Business cars: #{train.business_cars.count}, top seats:#{business_seats[:top_seats]}   ,bottom seats:#{business_seats[:bottom_seats]}" %> </td>
  <td><%= link_to 'Show', train %></td>
  <td><%= link_to 'Edit', edit_train_path(train) %></td>
  <td><%= link_to 'Destroy', train, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>