<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>On the station:</strong>
  <%if @train.current_station.present?%>
    <%=@train.current_station.title%>
  <%else%>
     Not mentioned
  <%end%>
</p>

<p>
  <strong>On the route:</strong>
  <%if @train.route.present? %>
    <%=@train.route.name%>
  <%else%>
     Not assigned
  <%end%>
</p>

<%econom_seats = @train.seats(@train.econom_cars)%>
<%business_seats = @train.seats(@train.business_cars)%>

<p>
  <%= "Econom cars: #{@train.econom_cars.count}, top seats: #{econom_seats[:top_seats]}  ,bottom seats: #{econom_seats[:bottom_seats]}" %>
</p> 
<p>
<%= "Business cars: #{@train.business_cars.count}, top seats:#{business_seats[:top_seats]}   ,bottom seats:#{business_seats[:bottom_seats]}" %>
</p>
<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
