<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>On the station:</strong>
  <%if @train.current_station.present?%>
    <%=@train.current_station.title%>
  <%else%>
     Not mentioned
  <%end%>
</p>

<p>
  <strong>On the route:</strong>
  <%if @train.route.present? %>
    <%=@train.route.name%>
  <%else%>
     Not assigned
  <%end%>
</p>
<%econom_cars = @train.cars.select {|car| car.is_econom}%>
<%business_cars = @train.cars.select {|car| !car.is_econom}%>

<%business_top_seats, business_bottom_seats, econom_top_seats, econom_bottom_seats = 0, 0, 0, 0%>

<%econom_cars.zip(business_cars).each do |econom_car, business_car|%>
  <%business_top_seats = business_car.top_seats %>
  <%business_bottom_seats = business_car.bottom_seats %>
  <%econom_top_seats = econom_car.top_seats %>
  <%econom_top_seats = econom_car.top_seats %>
<%end%>

<p>
  <%= "Econom cars: #{econom_cars.count}, top seats: #{econom_top_seats}  ,bottom seats: #{econom_bottom_seats}" %>
</p> 
<p>
<%= "Business cars: #{business_cars.count}, top seats:#{business_top_seats}   ,bottom seats:#{business_bottom_seats}" %>
</p>
<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
