<%= form_for(@route) do |f| %>
 <%= render 'shared/errors', resource: @route%>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, id: :@route_name %>
  </div>
  
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, id: :@route_name %>
  </div>

  <div class="actions">
    <%= f.submit "#{@route.new_record? ? 'Create' : 'Edit'}"%>
  </div>
<% end %>
