<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>
<h4>Trains on the routes</h4>
<%if @route.trains.empty? %>
  <p>There are no trains on this route</p>
<%else%>
  <ul>
    <%@route.trains.each do |train|%>
    <li>Train <%= train.number %></li>
    <%end%>
  </ul>
<%end%>

<h4>Stations on the route</h4>

<%@route.railway_stations.ordered.each do |station|%>
<%=station.title%>
<%end%>



<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>