<tr>

  
  <td><%= train.number %></td>
  <td> <%= t(".econom_cars") + ": #{train.cars.economy.count}, " +   t(".top_seats") + ": #{train.seats(car_type: 'EconomCar', seats_type: 'top_seats')}," + t(".bottom_seats") + ": #{train.seats(car_type: 'EconomCar', seats_type: 'bottom_seats')},
    " + t(".top_side_seats") + ": #{train.seats(car_type: 'EconomCar', seats_type: 'top_side_seats')}, " + t(".bottom_side_seats") + ": #{train.seats(car_type: 'EconomCar', seats_type: 'bottom_side_seats')}" %>  
  </td>  
  <td> <%= t(".business_cars") + ": #{train.cars.business.count}," +   t(".top_seats") + ": #{train.seats(car_type: 'BusinessCar', seats_type: 'top_seats')}," + t(".bottom_seats") + ": #{train.seats(car_type: 'BusinessCar', seats_type: 'bottom_seats')}" %>  
  </td>  
  <td> <%= t(".sv_cars") + ": #{train.cars.sv.count},
    bottom seats: #{train.seats(car_type: 'SvCar', seats_type: 'bottom_seats')}"
     %>  
  </td> 
  <td> <%= t(".seated_cars") + ": #{train.cars.seated.count}," + t(".seated_seats") + "
     : #{train.seats(car_type: 'SeatedCar', seats_type: 'seated_seats')}"
     %>  
  </td> 

  <td><%= link_to t('common.show'), admin_train_path(train) %></td>
  <td><%= link_to t('common.edit'), edit_admin_train_path(train) %></td>
  <td><%= link_to t('common.destroy'), [:admin, train], method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>