

<p>
  <strong>Number:</strong>
  <%= @car.number %>
</p>
<p>
  <strong>Train:</strong>
  <%if @car.train.present?%>
    <%=@car.train.number%>
  <%else%>
     Car does not belong to any train
  <%end%>
</p>


  <h3>Type: <%= @car.kind%></h3>
  <%if @car.top_seats %>
  <p>
    <strong>Top seats amount:</strong>
    <%= @car.top_seats %>
  </p>
  <%end%>
  
  <%if @car.bottom_seats %>
  <p>
    <strong>Bottom seats amount:</strong>
    <%= @car.bottom_seats %>
  </p>
  <%end%>
  
  <%if @car.bottom_side_seats %>
  <p>
    <strong>Bottom side seats amount:</strong>
    <%= @car.bottom_side_seats %>
  </p>
  <%end%>
  
  <%if @car.top_side_seats %>
  <p>
    <strong>Top side seats amount:</strong>
    <%= @car.top_side_seats %>
  </p>
  <%end%>
  
  <%if @car.seated_seats %>
  <p>
    <strong>Seated seats amount:</strong>
    <%= @car.seated_seats %>
  </p>
  <%end%>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>